.paint-toolbar {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 50px;
    border-right: 1px solid #ccc;
}

.toolbar-item {
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.toolbar-item:last-child {
    border: 0;
}

.toolbar-item-color {
	flex-direction: column;
}

.color-box {
	display: none;
    flex: 1;
    width: 100%;
	flex-direction: column;
}

.toolbar-item-color:hover .color-box {
	display: flex;
}

.color-box span {
	flex: 1;
}

.paint-board {
    position: absolute;
    left: 50px;
    top: 0;
    right: 200px;
    bottom: 0;
    overflow: auto;
}

.paint-board::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.paint-board::-webkit-scrollbar-track {
    background: #E6E6E6;
    border-radius: 2px;
}

.paint-board::-webkit-scrollbar-thumb {
    background: #747474;
    border-radius: 2px;
}

.paint-board::-webkit-scrollbar-corner {
    background: #E6E6E6;
}

#board-img {
    position: absolute;
    z-index: 0;
}

#board-svg {
    position: absolute;
    z-index: 1;
}

polygon:hover {
    opacity: .6 !important;
}

.lbi-main {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 920px;
    padding: 20px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: #fff;
}
.lbi-tool-box {
    display: flex;
    float: right;
    margin-bottom: 20px;
}
.lbi-tool {
    padding: 5px 10px;
    background-color: #f2f2f2;
    color: #666;
    text-align: center;
    cursor: pointer;
}
.lbi-tool:hover {
    background-color: #ccc;
}
.lbi-paint-box {
    position: relative;
    height: 550px;
    border: 1px solid #eee;
    clear: both;
}
.lbi-svg-box {
    position: relative;
    height: 550px;
    overflow: auto;
}
.lbi-svg-box::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.lbi-svg-box::-webkit-scrollbar-track {
    background: #E6E6E6;
    border-radius: 2px;
}

.lbi-svg-box::-webkit-scrollbar-thumb {
    background: #747474;
    border-radius: 2px;
}

.lbi-svg-box::-webkit-scrollbar-corner {
    background: #E6E6E6;
}
.lbi-axis {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 550px;
}
.lbi-svg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
/*    width: 100%;
    height: 500px;*/
}
.lbi-mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0,0,0,0.2);
}
.lbi-select-box {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transform: translate(-50%,-50%);
}
.lbi-select-label {
    display: block;
    margin: 15px 0;
    font-size: 14px;
    color: #333;
}
.lbi-select {
    width: 150px;
    padding: 5px 0;
}
.lbi-select-btn {
    width: 100%;
    padding: 6px 0;
    border: 1px solid #46b8da;
    border-radius: 4px;
    background-color: #5bc0de;
    color: #fff;
    cursor: pointer;
}


.lbi-side {
    float: left;
}
.lbi-side-item {
    box-sizing: border-box;
    width: 260px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fff;
}
.lbi-side-item:nth-child(2) {
    height: 456px;
    margin-bottom: 0;
    overflow-y: auto;
}
.lbi-side-tt {
    font-size: 14px;
    color: #333;
}
.lbi-color-box {
    display: flex;
    margin: 10px 0 20px;
    justify-content: space-between;
}
.lbi-color-item {
    width: 15px;
    height: 15px;
    border: 2px solid;
    border-radius: 50%;
    cursor: pointer;
}
.lbi-shape-box {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.lbi-shape-btn {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}
.lbi-info-box {
    /*margin-top: 10px;*/
}
.lbi-info-item {
    line-height: 20px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #333;
}
.lbi-info-item:hover {
    background-color: #eee;
}

.paint-labels {
	position: absolute;
	right: 70px;
	list-style: none;
}


.labels-item {

}

.labels-item input {
	width: 60px;
}

.paint-tip {
	position: absolute;
	display: none;
	padding: 5px;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	color: #000;
}