.lbi-main {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 920px;
    padding: 20px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: #fff;
}
.lbi-tool-box {
    display: flex;
    float: right;
    margin-bottom: 20px;
}
.lbi-tool {
    padding: 5px 10px;
    background-color: #f2f2f2;
    color: #666;
    text-align: center;
    cursor: pointer;
}
.lbi-tool:hover {
    background-color: #ccc;
}
.lbi-paint-box {
    position: relative;
    height: 550px;
    border: 1px solid #eee;
    clear: both;
}
.lbi-svg-box {
    position: relative;
    height: 550px;
    overflow: auto;
}
.lbi-svg-box::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.lbi-svg-box::-webkit-scrollbar-track {
    background: #E6E6E6;
    border-radius: 2px;
}

.lbi-svg-box::-webkit-scrollbar-thumb {
    background: #747474;
    border-radius: 2px;
}

.lbi-svg-box::-webkit-scrollbar-corner {
    background: #E6E6E6;
}
.lbi-axis {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 550px;
}
.lbi-svg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
/*    width: 100%;
    height: 500px;*/
}
.lbi-mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0,0,0,0.2);
}
.lbi-select-box {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transform: translate(-50%,-50%);
}
.lbi-select-label {
    display: block;
    margin: 15px 0;
    font-size: 14px;
    color: #333;
}
.lbi-select {
    width: 150px;
    padding: 5px 0;
}
.lbi-select-btn {
    padding: 6px 12px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.lbi-select-btn-submit {
    border: 1px solid #46b8da;
    background-color: #5bc0de;
}
.lbi-select-btn-close {
    float: right;
    border: 1px solid #eea236;
    background-color: #f0ad4e;
}


.lbi-side {
    float: left;
}
.lbi-side-item {
    box-sizing: border-box;
    width: 260px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fff;
}
.lbi-side-item:nth-child(2) {
    height: 456px;
    margin-bottom: 0;
    overflow-y: auto;
}
.lbi-side-tt {
    font-size: 14px;
    color: #333;
}
.lbi-color-box {
    display: flex;
    margin: 10px 0 20px;
    justify-content: space-between;
}
.lbi-color-item {
    width: 15px;
    height: 15px;
    border: 2px solid;
    border-radius: 50%;
    cursor: pointer;
}
.lbi-shape-box {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.lbi-shape-btn {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}
.lbi-group-btn {
    float: right;
    color: #337ab7;
    cursor: pointer;
}
.lbi-group-btn-submit {
    float: right;
    color: #5cb85c;
    cursor: pointer;
}
.lbi-info-box {
    /*margin-top: 10px;*/
}
.lbi-info-list {
    border-bottom: 1px solid #eee;
}
.lbi-info-title {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 14px;
}
.lbi-info-select {
    width: 100px;
}
.lbi-info-item {
    line-height: 20px;
    padding: 5px 15px;
    font-size: 14px;
    color: #333;
}
.lbi-info-item:hover {
    background-color: #eee;
}

polygon:hover {
    opacity: .6 !important;
}